/licenses/** filter=lfs diff=lfs merge=lfs -text
/system/bin/** filter=lfs diff=lfs merge=lfs -text
/system/ssl/openssl/** filter=lfs diff=lfs merge=lfs -text
/user/browscap/** filter=lfs diff=lfs merge=lfs -text
/user/geo/** filter=lfs diff=lfs merge=lfs -text
/system/public_html/dist/** filter=lfs diff=lfs merge=lfs -text
/system/public_html/plugins/** filter=lfs diff=lfs merge=lfs -text
/resources/dist/** filter=lfs diff=lfs merge=lfs -text
/resources/modules/MariaDB*/ospanel_data/default_data/** filter=lfs diff=lfs merge=lfs -text
/resources/modules/MySQL*/ospanel_data/default_data/** filter=lfs diff=lfs merge=lfs -text
/resources/modules/PostgreSQL*/ospanel_data/default_data/** filter=lfs diff=lfs merge=lfs -text
/resources/modules/Nginx*/conf/** text
/resources/modules/Apache*/conf/** text
